.reveal {
    h1.title-slide {
        font-size: 3.1em;
    }
    .no-border {
        border: none;
    }

    .youtube-link {
        position: absolute;
        top: 70px;
        font-size: 1.4em;
        left: 140px;
    }

    .vertical-footnote {
        position: absolute;
        top: 350px;
        transform: rotate(270deg);
        left: -400px;
        font-size: 0.6em;
    }
}